.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    padding-block: 1em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-nav {
    display: flex;
    gap: 15px;
}

a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}

.progress-bar-container {
    width: 100%;
    background: #ddd;
    border-radius: 8px;
    margin: 10px 0;
    height: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #4caf50;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    transition: width 0.3s ease-in-out;
}

.user-info .balance {
    margin-left: 4px; opacity: .9;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
